.carousel-item {
	opacity: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.carousel-item.active {
	transform: translateX(0);
	opacity: 1;
}

.carousel-item.previous {
	opacity: 0;
	transform: translateX(-100%);
}

.carousel-item.next {
	opacity: 0;
	transform: translateX(100%);
}

.content {
	opacity: 0;
	transition: opacity 1s ease-in-out;

	&.in-view {
		opacity: 1;
	}
}
