.carousel-item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	opacity: 0;
}

.carousel-item.active {
	transform: translateX(0);
	opacity: 1;
}

.carousel-item.previous {
	opacity: 0;
	transform: translateX(-100%);
}

.carousel-item.next {
	opacity: 0;
	transform: translateX(100%);
}

.carousel-item:not(.active) {
	opacity: 0;
	visibility: hidden;
}
